<p id="notice"><%= notice %></p>
<div class="col-md-12">

<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>

    <div class="well well-lg">
      <% @products.each do |product| %>
      <hr>
      <div>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </div>
      <div class="product-title">
        <%= link_to product.title, product_path(product) %>
      </div>
      <div class="product-body">
        <%= truncate(product.description, length: 500) %>
      </div>
      <div class="product-price">
        Price: <%= number_to_currency(product.price) %>
      </div>
      <div class="product-quantity">
        Quantity: <%= product.quantity %>
      </div>
      <div>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>

  </div>
